APP_NAME="Real Ops by VATGoodies"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_URL_BASE=localhost
APP_VERSION=0.1.0

SUPER_ADMIN_EMAIL=

LOG_CHANNEL=stack

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=TLS
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Real Ops by VATGoodies"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

DB_CONNECTION=system
TENANCY_HOST=localhost
TENANCY_PORT=3306
TENANCY_DATABASE=
TENANCY_USERNAME=
TENANCY_PASSWORD=

TENANCY_DEFAULT_HOSTNAME=localhost
TENANCY_AUTO_HOSTNAME_IDENTIFICATION=true
TENANCY_EARLY_IDENTIFICATION=true
TENANCY_DEFAULT_CONNECTION=system
TENANCY_DATABASE_AUTO_DELETE=true
TENANCY_DATABASE_AUTO_DELETE_USER=true
TENANCY_FALLBACK_URL=http://realops.test

LIMIT_UUID_LENGTH_32=true

RUNNING_APACHE=false
RUNNING_NGINX=true

BUGSNAG_API_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-1
AWS_BUCKET=realops-backup
