.area-selector__card_size {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.landing-page__main-heading {
  padding-top: 6rem;
  padding-bottom: 4rem;
  position: relative;
  background: url("/../images/core/landing-page/realops-landing.jpeg") no-repeat center center;
  background-size: cover;
}

.landing-page__card {
  border-radius: 0.75rem;
  opacity: 0.8;
}

.landing-page-action {
  position: relative;
  background: url("/../images/core/landing-page/binos.jpeg") no-repeat center center;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 150px;
}