$secondary: #808e9b;
$primary: #3c40c6;
$success: #0be881;
$danger: #ff5e57;
$warning: #ffc048;
$info: #4bcffa;
$enable-rounded: false;
$font-family-sans-serif: "Source Sans Pro", "Open Sans", Calibri, Candara, Arial, sans-serif;
$body-bg: #d2dae2;
