
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "node_modules/font-awesome/scss/font-awesome.scss";

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.panel-footer {
  text-align: center;
  h4 {
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  background: url("../../../public/images/background-wing.jpeg") no-repeat center center fixed;
  background-size: cover;
}

.content-wrapper {
  margin-top: 20px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
}

// events
.office-event-show .event-banner-image {
  margin-top: 10px;
}

.event-panel-group {
  margin-top: 40px;
}

.panel-group .event-panel {
  margin-bottom: 20px;
  .panel-body {
    padding: 0px;
  }
}

.panel-image {
  width: 100%;
  .office-image {
    border-radius: 4px 4px 0px 0px;
  }

  .event-banner-image {
    border-radius: 0px 0px 4px 4px;
  }
}

.event-banner-image {
  border-radius: 4px;
}

.event-office-buttons .col-md-6 {
  margin-bottom: 5px;
  margin-top: 5px;
}